
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
a{
  text-decoration: none;
  color: #e4cb58;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  padding-bottom: 20px;
}

header{
  align-self: start;
  display:flex;
  padding-left: 50px;
  font-size: 50px;
}

ul{
  list-style-type:none;
  display: flex;
  text-align: left;
  padding-left: 0;
}

li{
  color:#e3e3e3;
  font-family: 'Montserrat', sans-serif;
  font-weight:400;
  font-size:20px;
  float: left;
  padding-right: 30px;

}


body {
  color: rgba(255, 255, 255, 0.658);
  background: hsl(227, 10%, 10%);
  font: 300 1em 'Fira Sans', sans-serif;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 700px;
  display: flex;
}

button {
  background: none;
  border: 3px solid;
  font-family: 'Montserrat', sans-serif;
  margin: 0.5em;
  padding: 1em 1em;
  color: #e9e6d7;
  font-size: medium;
  text-align: center;
  width: 150px;
  border-radius: 8px;
}

h1 { font-weight: 400; }

code { 
  color: #e4cb58;
  font: inherit;
}
.Input-text {
  display: block;
  margin: 0;
  color: #faf9f6;
  line-height: 1;
  width: 100%;
  height: 45px;
  font-family: inherit;
  font-weight: inherit;
  font-size: medium;
  border: 3px solid;
  border-radius: 8px;
  color: #e9e6d7;
  background-color: hsl(227, 10%, 10%);
  
}

form{
  display: flex;
  align-items: center;
}

.buttons{
  display: flex;
  width: 600px;
  flex-wrap: wrap;
  justify-content: center;
}



.moviecard{
  display: flex;
}

.moviecardinfo{
  background-color: black;
  display: flex;
  flex-direction: column;
  color: white;
  text-align: left;
  width: 550px;
  padding-left: 40px;
  padding-right: 40px;
  height: 400px;
  bottom: 0;
  justify-content: space-between;
  height: 420px;
}
.movietitle{
  color:white;
  font-family: 'Montserrat', sans-serif;
  font-weight:400;
  text-align:left;
  font-size:35px;
  padding-top: 20px;
  letter-spacing:1px;
  text-transform: uppercase;
}
.movieplot{
  font-size:20px;
  font-weight:400;
  font-family: 'Montserrat', sans-serif;
  color:white;
  max-height: 100px;
}
.hoverable:hover {
  background: rgba(255, 255, 255, 0.274);
  border-color: rgba(255, 255, 255, 0.589);
  transform: scale(1.07);
}

.mega {
  font-size: 2rem; /* 72 / 18 = 4 */
  margin-bottom: 0.4125rem;
}
.montserrat{font-family: 'Montserrat'}

.bold{font-weight: 700;}


.backbutton{
  border-color: rgba(255, 255, 255, 0.589);
  border: solid;
  color: #e9e6d7;
}

.backbutton:hover {
  transform: scale(1.07);
  background: rgba(255, 255, 255, 0.274);

}

element:hover {
  transform: scale(1.07);
  cursor: default;
}

a:hover{
  color: #e4ca588a;
}