@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

a{
  text-decoration: none;
  color: #e4cb58;
  font-family: 'Montserrat', sans-serif;
}
@media screen and (min-width: 601px) {
  a {
    font-size: 20px;
  }
}

@media screen and (max-width: 600px) {
  a {
    font-size: 18px;
  }
}



h1{
  margin-block-start: 0em;
}
@media screen and (min-width: 601px) {
  h1 {
    font-size: 30px;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 20px;
  }
}


.a2{
  text-decoration: none;
  color: #eb4848fb;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 2%;
}
@media screen and (min-width: 601px) {
  div.a2 {
    font-size: 20px;
  }
}

@media screen and (max-width: 600px) {
  div.a2 {
    font-size: 18px;
  }
}

header{
  align-self: start;
  display:flex;
  padding-left: 5%;
  font-size: 300%;
}

ul{
  list-style-type:none;
  display: flex;
  text-align: left;
  padding-left: 0;
  margin-bottom: 0;
}

li{
  display: flex;
  color:#e3e3e3;
  font-family: 'Montserrat', sans-serif;
  font-weight:400;
  font-size:20px;
  float: left;
  padding-right: 30px;
}
@media screen and (min-width: 601px) {
  li {
    font-size: 20px;
  }
}

@media screen and (max-width: 600px) {
  li {
    font-size: 15px;
  }
}


body {
  color: rgba(255, 255, 255, 0.658);
  font: 100% 'Fira Sans', sans-serif;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 40rem;
  display: flex;
  overflow-x: auto;

}
@media screen and (min-width: 601px) {
  body {
    color: rgba(255, 255, 255, 0.658);
    background: hsl(220, 8%, 7%);
  }
}

@media screen and (max-width: 600px) {
  body {
    color: rgba(255, 255, 255, 0.856);
    background: hsl(0, 0%, 0%);
  }
}

button {
  background: none;
  border: 3px solid;
  font-family: 'Montserrat', sans-serif;
  margin: 0.5em;
  padding: 1em 1em;
  background-color: #e9e6d709 ;
  text-align: center;
  width: 150px;
  border-radius: 8px;
}
@media screen and (min-width: 601px) {
  button {
    color: #e9e6d7b6;
    font-size: medium;
  }
}

@media screen and (max-width: 600px) {
  button {
    color: #eeece5d7;
    font-size: small;
  }
}

h1 {
   font-weight: 400;
}

code { 
  color: #e4cb58;
  font: inherit;
}

.genres { 
  color: #e4cb58;
  font-family: 'Montserrat', sans-serif;
  display: -webkit-box;
  -webkit-line-clamp: 2; 
  -webkit-box-orient: vertical; 
  overflow: hidden; 
  text-overflow: ellipsis;
}


.Input-text {
  display: block;
  margin: 0;
  line-height: 1;
  width: 100%;
  height: 52px;
  font-family: inherit;
  font-weight: inherit;
  font-size: medium;
  border: 3px solid;
  border-radius: 8px;
  color: #e9e6d7b6;
  background-color: #e9e6d709 ;
}
@media screen and (min-width: 601px) {
  div.Input-text {
    font-size: medium;
  }
}

@media screen and (max-width: 600px) {
  div.Input-text {
    font-size: small;
  }
}


form{
  display: flex;
  align-items: center;
}

.buttons{
  display: inline;
  justify-content: center;
  align-items: center;
}
.outerbuttons{
  display: flex;
  max-width: 600px;
}

.moviecard{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: hsl(0, 0%, 0%);
}
.cardandbutton{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.moviecardinfo{
  background-color: black;
  display: flex;
  flex-direction: column;
  color: white;
  text-align: left;
  max-width: 550px;
  padding-left: 40px;
  padding-right: 40px;
  bottom: 0;
  justify-content: space-between;
  margin-right: 20px;
}
.movietitle{
  color:white;
  font-family: 'Montserrat', sans-serif;
  font-weight:400;
  text-align:left;
  padding-top: 20px;
  letter-spacing:1px;
  text-transform: uppercase;
  }
@media screen and (min-width: 601px) {
    div.movietitle {
      font-size: 35px;
    }
  }
  
@media screen and (max-width: 600px) {
    div.movietitle {
      font-size: 20px;
    }
}

.movieplot{
  font-weight:400;
  font-family: 'Montserrat', sans-serif;
  color:white;
  max-height: 80px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical;  
  text-overflow: ellipsis;
}
@media screen and (min-width: 601px) {
  div.movieplot {
    font-size: 20px;
  }
}

@media screen and (max-width: 600px) {
  div.movieplot {
    font-size: 15px;
  }
}


.hoverable:hover {
  background: rgba(255, 255, 255, 0.274);
  border-color: rgba(255, 255, 255, 0.589);
  transform: scale(1.07);
}

.mega {
  font-size: 2rem; /* 72 / 18 = 4 */
  margin-bottom: 0.4125rem;
}
.montserrat{font-family: 'Montserrat'}

.bold{font-weight: 700;}


.backbutton{
  border-color: rgba(255, 255, 255, 0.589);
  border: solid;
  color: #e9e6d7;
}

.backbutton:hover {
  transform: scale(1.07);
  background: rgba(255, 255, 255, 0.274);

}

element:hover {
  transform: scale(1.07);
  cursor: default;
}
@media screen and (min-width: 601px) {
  element {
    font-size: 40px;
  }
}

@media screen and (max-width: 600px) {
  element {
    font-size: 30px;
    }
}

a:hover{
  color: #e4ca588a;
}

.a2:hover{
  color: #eb484854;
}

.endbuttons{
  display:flex;
  justify-content: space-between;
}
.poster{
  display: block;
}
@media screen and (min-width: 601px) {
  div.poster {
    min-height: 200px;
    min-width: 200px;  
  }
}

@media screen and (max-width: 600px) {
  div.poster {
    width: 65%;
    height: 65%;
    }
}


